{% extends 'base.html.twig' %}

{% block h1 %} Les auteurs {% endblock %}

{% block body %}

 {% block h2 %} <h2 class="container">  Les auteurs ! </h2> {% endblock %}
    <p class="container"> Nombre total d'auteurs : {{ authors.getTotalItemCount }}</p>

<div class='container-sm'> 
    <table class='table table-striped'>
        <thead>
            <tr>
                {# <th>{{ knp_pagination_sortable(authors, 'Nom', 'authors.name') }}</th> #}
                <th scope="col" {% if authors.isSorted('a.name') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(authors, 'Nom', 'a.name') }}</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td> {{author.name}}</td>
                    <td> 
                        <a href="{{ path('app_author_show', {id: author.id}) }}" class='btn btn-primary'>
                        Voir 
                        </a>
                    </td>
                    <td> 
                        <a href="{{ path('app_author_edit', {id: author.id}) }}" class='btn btn-primary'>
                        Modif 
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>
<div class="navigation container">
    {{ knp_pagination_render(authors) }}
</div>
<hr>

<a class="container" href="{{path('app_author_new')}}">Nouvel auteur</a>
<br>
<a class="container" href="{{path('app_book_new')}}">Nouveau livre</a>


{% endblock %}
